name: dotnet package
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK 5
        uses: actions/setup-dotnet@v1.8.0
        with:
          dotnet-version: 5.0.x
      - name: Install dependencies
        run: dotnet restore src/
      - name: Test with dotnet
        run: dotnet test --no-restore --logger trx --results-directory "TestResults" src/ /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput="../../TestResults/"
      - name: Upload dotnet test results
        uses: actions/upload-artifact@v2
        with:
          name: dotnet-results
          path: TestResults
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
      - name: Upload dotnet test coverage
        run: bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }} -f TestResults/coverage.opencover.xml
      - name: Build with dotnet
        run: dotnet build --no-restore --configuration Release src/FluentResult/FluentResult.csproj
      - name: Create the package
        run: dotnet pack --no-restore --configuration Release src/FluentResult/FluentResult.csproj
      - name: Publish the package to nuget.org
        run: dotnet nuget push src/FluentResult/bin/Release/*.nupkg --skip-duplicate -k $NUGET_AUTH_TOKEN -s https://api.nuget.org/v3/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_TOKEN }}
        
